.card {
	padding: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 2px solid #eee;
	font-size: 1em;
	text-align: center;

	p > * {
		vertical-align: middle;
		display: inline-block;
	}
}

.teamName {
	margin: 1em;
	font-size: 1.5em;
}

.score {
	margin: 1em;
	font-size: 3em;
}

.draws {
	font-size: 1em;
}

.state {
	margin: 1em;
}
